body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    font-size: 1.5em;
  }
  
  h1 {
    color: #333;
    font-family: 'Crimson Text', serif;
  }
  
  p {
    font-family: 'Crimson Text', serif;
  }
  
  #scoreboard {
    margin-top: 20px;
  }
  
  #game {
    margin-top: 40px;
  }
  
  .choice,
  #restart-btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .choice:hover,
  #restart-btn:hover {
    background-color: #d4d4d4;
  }
  
  .choice:active,
  #restart-btn:active {
    background-color: #bfbfbf;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
