body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #232323;
    font-size: 1.5em;
  }
  
  h1 {
    color: #ffffff;
    font-family: 'Crimson Text', serif;
  }
  
  p {
    font-family: 'Crimson Text', serif;
    color: #ffffff;
  }
  
  #scoreboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
  }
  
  #game-result {
    font-weight: bold;
    font-family: 'Crimson Text', serif;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
  .choice,
  #restart-btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
  }
  
  .choice:hover,
  #restart-btn:hover {
    background-color: #45a049;
  }
  
  .choice:active,
  #restart-btn:active {
    background-color: #3e8e41;
  }

  .choice:disabled,
  #restart-btn:disabled {
    cursor: not-allowed;
  }
  
  #restart-btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: not-allowed;
  }  

  
  #result {
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Crimson Text', serif;
    color: #ffffff;
  }

  .choice.game-over{
    background-color: #ff0000;
  }

  .choice,
#restart-btn {

  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;

}


.choice:hover,
#restart-btn:hover {
  transform: scale(1.05);
}

.choice:active,
#restart-btn:active {
  transform: scale(0.95);
}

.game-over{
  background-color: #ff0000;
}